body {
  background-color: navy;
}

h1.heading {
  color: rgb(14, 27, 27);
}

.box a {
  text-decoration: none;
}

.container-home {
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  border: 2px solid white;
  width: 50px;
  height: 200px;
}

.image-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

